<a href="https://colab.research.google.com/github/ashanti225/ECO-726-/blob/main/ECO_726_Intro_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello my name is Ashanti, and I am excited for this class")

Hello my name is Ashanti, and I am excited for this class

In [ ]:
import pandas as pd

Setting variables

In [ ]:
a=4
b=5
c=6

print (a+b)
print (a+c)
print (a-b-c)
print (a+b+c)

9
10
-7
15

In [ ]:
pd.Series (a) + pd.Series (b)

0    9
dtype: int64